<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
</head>

<body>
    <div class="container">
    {% include 'header.html' %}
        <form action="/mypage" method="post" class="mypageForm">
            <h2>My Page</h2>
            <div>
                {% if session['user_status'] == 'logged_in' %}
                <div class="app-text">
                    <h1><span style="color: #fd00da">Name: </span> <span style="color: #19d7f8">{{name}}</span> <br>
                        <span style="color: #fd00da">Username: </span> <span style="color: #19d7f8">{{username}}</span> <br>
                        <span style="color: #fd00da">Email: </span> <span style="color: #19d7f8">{{email}}</span> <br>
                    </h1>
                </div>
        	    {% endif %}
            </div>        
        </form>        
    </div>
</body>

</html>